<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/css/style.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="top-content" class="container">
        <div class="video-background-container float-right">
            <img src="../assets/images/polygon.png" srcset="../assets/images/polygon@2x.png 2x" />
        </div>
        <div class="clearfix"></div>
        <div class="content-inner">
            <header>
                <nav class="navbar navbar-expand-lg navbar-light">
                    <img class="logo" src="../assets/images/logo.png" srcset="../assets/images/logo@2x.png 2x, ../assets/images/logo@3x.png 3x"
                    />

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">SERVICES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">PRICE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">CONTACT</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <div class="slider">
                <div>
                    <h1>MOBILE PIZZA</h1>
                    <div class="line"></div>
                    <h2>Give flavour to your party!</h2>
                    <p>
                        Jazz up your outdoor events with mobile pizza bus. Our mobile wood fired oven is the new and delicious way for a high quality
                        catering event.
                    </p>
                    <button>
                        CONTACT US
                        <img src="../assets/images/send.svg" />
                    </button>
                </div>
                <div>
                    <img src="../assets/images/play.png" srcset="../assets/images/play@2x.png 2x, ../assets/images/play@3x.png 3x" class="play">
                </div>
            </div>
        </div>
    </div>
    <div id="catering" class="container">
        <div>
            <h3>CATERING
                <br>SERVICE</h3>
            <h4>For Outdoor Events</h4>
            <p>Are you organizing an event to bring your network together with a amazing party?</p>
            <div class="book-now">
                <span>Book Your Party Now</span>
                <button></button>
            </div>
        </div>
        <div>
            <div class="box-container">
                <div class="box">
                    <img src="../assets/images/round_1.png" srcset="../assets/images/round_1@2x.png 2x, ../assets/images/round_1@3x.png 3x" />
                    <p>GARDEN
                        <br/>PARTIES</p>
                </div>
                <div class="box">
                    <img src="../assets/images/round_2.png" srcset="../assets/images/round_2@2x.png 2x, ../assets/images/round_2@3x.png 3x" />
                    <p>CORPORATE
                        <br/>LUNCHES</p>
                </div>
                <div class="box">
                    <img src="../assets/images/round_3.png" srcset="../assets/images/round_3@2x.png 2x, ../assets/images/round_3@3x.png 3x" />
                    <p>FESTIVALS &
                        <br/>PRIVATE PARTIES</p>
                </div>
            </div>
        </div>
    </div>
    <div id="our-menu">
        <div class="container">
            <h3>Our Menu</h3>
            <p>We offer you 4 fresh options to taste your
                <br/> pepup your events.</p>
            <div class="row">
                <div class="col-sm">
                    <div class="box">
                        <img src="../assets/images/round_4.png" srcset="../assets/images/round_4@2x.png 2x, ../assets/images/round_4@3x.png 3x" />
                        <div class="sub-title">Wood fired pizza</div>
                        <p>
                            Duis aute irure in reprehenderit in voluptate velit esse cillum dolore.
                        </p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="box">
                        <img src="../assets/images/round_5.png" srcset="../assets/images/round_5@2x.png 2x, ../assets/images/round_5@3x.png 3x" />
                        <div class="sub-title">Westport salad</div>
                        <p>
                            Duis aute irure in reprehenderit in voluptate velit esse cillum dolore.
                        </p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="box">
                        <img src="../assets/images/round_6.png" srcset="../assets/images/round_6@2x.png 2x, ../assets/images/round_6@3x.png 3x" />
                        <div class="sub-title">Sandwich</div>
                        <p>
                            Duis aute irure in reprehenderit in voluptate velit esse cillum dolore.
                        </p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="box">
                        <img src="../assets/images/round_7.png" srcset="../assets/images/round_7@2x.png 2x, ../assets/images/round_7@3x.png 3x" />
                        <div class="sub-title">Fruit Palette</div>
                        <p>
                            Duis aute irure in reprehenderit in voluptate velit esse cillum dolore.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="gallery">
        <div class="container">
            <h3>Delicious Moments From Parties</h3>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <div class="row">
                <div class="col-sm-1">
                    <div class="arrow arrow-left"></div>
                </div>
                <div class="col-sm gallery-container">
                    <ul class="slider">
                        <li>
                            <img src="../assets/images/gallery/gallery_1_thumb.jpg" />
                        </li>
                        <li class="active">
                            <img src="../assets/images/gallery/gallery_2_thumb.jpg" />
                        </li>
                        <li>
                            <img src="../assets/images/gallery/gallery_3_thumb.jpg" />
                        </li>
                        <li>
                            <img src="../assets/images/gallery/gallery_4_thumb.jpg" />
                        </li>
                        <li>
                            <img src="../assets/images/gallery/gallery_5_thumb.jpg" />
                        </li>
                        <li>
                            <img src="../assets/images/gallery/gallery_6_thumb.jpg" />
                        </li>
                        <li>
                            <img src="../assets/images/gallery/gallery_7_thumb.jpg" />
                        </li>
                        <li>
                            <img src="../assets/images/gallery/gallery_8_thumb.jpg" />
                        </li>
                        <li>
                            <img src="../assets/images/gallery/gallery_9_thumb.jpg" />
                        </li>
                    </ul>
                </div>
                <div class="col-sm-1">
                    <div class="arrow arrow-right"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="detailed-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-container">
                    <h3>Mobile
                        <span class="dark-text">Wood Fired</span> Oven</h3>
                    <p>
                        Etiam ut aliquam elit, eget varius turpis. Duis scelerisque quam augue, et accumsan risus suscipit non. Etiam ut aliquam
                        elit, eget varius turpis. Duis scelerisque quam augue, et accumsan risus suscipit non.
                    </p>
                </div>
                <div class="col-sm-6" style="padding-left:0px">
                    <img src="../assets/images/info-1.jpg" srcset="../assets/images/info-1@2x.jpg 2x,../assets/images/info-1@3x.jpg 3x">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6" style="padding-right:0px">
                    <img src="../assets/images/info-2.jpg" srcset="../assets/images/info-2@2x.jpg 2x,../assets/images/info-2@3x.jpg 3x">
                </div>
                <div class="col-sm-6 text-container" style="padding-left:150px">
                    <h3 class="class=" dark-text "">Build Your Own Pizza</h3>
                    <p>
                        Bacon • Basil • Black Olives • Broccoli Chicken • Clams • Cherry Peppers Fresh Mozzarella • Fresh Tomato • Garlic Green Peppers
                        • Ham • Meatballs Mushroom • Onion • Pepperoni Pineapple • Ricotta • Sausage • Spinach
                    </p>
                    <button class="btn" style="margin-top:30px">
                        CALL US NOW
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="pizza-menu">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <h3>SILVER SANDS</h3>
                    <p class="title-info">Specialities Pizzas</p>
                    <div class="row">
                        <div class="col-sm">
                            <p class="title">
                                Italian White
                            </p>
                            <p>
                                Mozzarella, Parmesan, ricotta and olive oil
                            </p>
                        </div>
                        <div class="col-sm">
                            <p class="title">
                                Dessert Pizza
                            </p>
                            <p>
                                Banana, Honey and light mozzarella
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p class="title">
                                BBQ Chicken
                            </p>
                            <p>
                                White pizza topped with BBQ grilled chicken
                            </p>
                        </div>
                        <div class="col-sm">
                            <p class="title">
                                Point Beach Pizza (white)
                            </p>
                            <p>
                                Mashed potato, bacon with cheddar cheese and mozzarella
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p class="title">
                                White Clam Casino
                            </p>
                            <p>
                                White pizza with clams, bacon, fresh garlic and olive oil
                            </p>
                        </div>
                        <div class="col-sm">
                            <p class="title">
                                Trumbull Beach Pizza (red)
                            </p>
                            <p>
                                Sausage, meatball, pepperoni, ham, bacon and mozzarella
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p class="title">
                                Margarita (white)
                            </p>
                            <p>
                                Sliced tomatoes, garlic, olive oil, mozzarella and Romano cheese garnished with fresh basil
                            </p>
                        </div>
                        <div class="col-sm">
                            <p class="title">
                                Charles Island Pizza
                            </p>
                            <p>
                                Homemade Pesto sauce with Grilled chicken, sliced tomatoes, fresh mozzarella and olive oil
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p class="title">
                                Buffalo Chicken
                            </p>
                            <p>
                                White or red, our traditional pie topped with spicy buffalo chicken with bleu cheese
                            </p>
                        </div>
                        <div class="col-sm">
                            <p class="title">
                                Myrtle Beach Pizza (white)
                            </p>
                            <p>
                                Chicken cutlet, bacon, oregano, ranch dressing and extra mozzarella cheese
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p class="title">
                                Hot Honey Pizza
                            </p>
                            <p>
                                Loaded with tomato sauce, Pepperoni, fresh Mozzarella, fresh basil and homemade hot honey oil
                            </p>
                        </div>
                        <div class="col-sm">
                            <p class="title">
                                Chicken Parm
                            </p>
                            <p>
                                Tomato sauce, diced chicken cutlet and mozzarella
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm right-container">
                    <h4>PRICE</h4>
                    <h4>$20</h4>
                    <p class="header-info">per person*</p>
                    <p>ALL YOU CAN EAT PIZZA
                        <br>+
                        <br> Westport Salad & Fruit Platter
                        <br>
                        <span class="info">* Minimum of 30 people required.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="contact">
        <div class="container">
            <h3>Contact Us</h3>
            <p>Book your party online! We’ll get back you as soon as possible.</p>
            <div class="row">
                <div class="col-sm address">
                    <h5>MEET US</h5>
                    <div>
                        <i class="fas fa-phone"></i>(203) 882-0220</div>
                    <div>
                        <i class="fas fa-envelope"></i>silversandspizza@gmail.com</div>
                    <div>
                        <i class="fas fa-map-marker-alt"></i>415 Boston Post Rd, Milford, CT 06460</div>
                </div>
                <div class="col-sm-6">
                    <div class="contact-form">
                        <div class="row">
                            <div class="form-group col-sm">
                                <label for="formGroupExampleInput">Your Name *</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </div>
                                    <input id="txtFirstName" type="text" class="form-control" placeholder="First Name">
                                </div>
                            </div>
                            <div class="form-group col-sm">
                                <label>&nbsp;</label>
                                <input id="txtLastName" type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm">
                                <label for="formGroupExampleInput">Your Email *</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                    </div>
                                    <input id="txtEmail" type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group col-sm">
                                <label for="formGroupExampleInput">Your Phone *</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-phone"></i>
                                        </span>
                                    </div>
                                    <input id="txtPhone" type="text" class="form-control" placeholder="Phone">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <textarea id="txtMessage" class="form-control" placeholder="Message" rows="8"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm" style="display: flex;flex-direction: column;align-items: center;">
                    <div id="date-picker">

                    </div>
                    <div>
                        <button id="btnBookNow" class="btn" style="margin-top:30px" onclick="bookNow()">
                            BOOK NOW
                        </button>

                    </div>
                </div>
                <div>
                    We've got your email!
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm footer-logo">
                    <p>
                        SILVER SANDS
                        <br/>PIZZA
                    </p>
                    <p>
                        © 2018 Creation All Rights Reserved
                    </p>
                </div>
                <div class="col-sm-">
                    <ul>
                        <li>
                            <a href="#">HOME</a>
                        </li>
                        <li>
                            <a href="#">SILVERSANDS HOME</a>
                        </li>
                        <li>
                            <a href="#">SERVICES</a>
                        </li>
                        <li>
                            <a href="#">PRICE</a>
                        </li>
                        <li>
                            <a href="#">ONLINE ORDER</a>
                        </li>
                        <li>
                            <a href="#">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script>

        function bookNow() {
            var firstName = $('#txtFirstName').val();
            var lastName = $('#txtLastName').val();
            var email = $('#txtEmail').val();
            var phone = $('#txtPhone').val();
            var message = $('#txtMessage').val();
            var date = $('#date-picker').datepicker('getDate');
            if (firstName.length === 0 || lastName.length === 0 || email.length === 0 || phone.length === 0 || message.length === 0) {
                alert('Please fill the all fields!');
                return;
            }
            
            $('#btnBookNow').html('Please wait...')
            var data = {
                firstName: firstName,
                lastName: lastName,
                email: email,
                phone: phone,
                message: message,
                date: date
            }
            $.ajax({
                type: "POST",
                url: '/contact-form',
                data: data,
                complete: function(res){
                    $('#btnBookNow').html('BOOK NOW');
                    console.log("res", res);
                }
            });
            
        }

        function slider() {
            var currentPage = 0;

            $('.slider').find('li').each(function () {
                $(this).bind('mouseover', function () {
                    $('.slider').find('.active').removeClass('active');
                    $(this).addClass('active');
                })
            })

            $('.slider').bind('mouseout', function () {
                $('.slider').find('.active').removeClass('active');
                setDefaultActive();
            })

            $('.arrow-left').on('click', function () {
                moveSlider('left');
                setDefaultActive();
            })

            $('.arrow-right').on('click', function () {
                moveSlider('right');
                setDefaultActive();
            })

            function moveSlider(direction) {
                if (direction === "right") {
                    if ((currentPage + 1) > 2) {
                        return;
                    }
                    currentPage++;
                }
                else {
                    if ((currentPage - 1) < 0) {
                        return;
                    }
                    currentPage--;
                }

                $('.slider').find('li').removeAttr('style');
                var nextPosition = (currentPage * 960) * -1;
                $('.slider').css('left', nextPosition + 'px');

                var rangeStart = currentPage * 3;
                var rangeEnd = rangeStart + 2;
                $('.slider').find('li').each(function (index) {
                    if (index < rangeStart | index > rangeEnd) {
                        $(this).css('visibility', 'hidden');
                    }
                });

            }

            function setDefaultActive() {
                var index = (currentPage * 3) + 2;
                $('.slider').find('li:nth-child(' + index + ')').addClass('active');
            }
        }

        $(document).ready(function () {
            $('#date-picker').datepicker({
                startDate: new Date(),
                defaultViewDate: new Date()
            });
            $('#date-picker').datepicker('setDate', new Date());
            slider();
        })
    </script>
</body>

</html>